replicaCount: 1

image:
  repository: docker.io/forex-events-kafka-oauth
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env:
  springProfile: local
  datasourceUrl: jdbc:postgresql://postgres:5432/forex_db
  datasourceUser: forex
  datasourcePassword: forex
  otelServiceName: forex-events-kafka-oauth-local
  otelEndpoint: http://jaeger:4317
  kafkaBrokers: kafka:9092
